{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "importOrder": [
        "^@*/(.*)$",
        "^state/(.*)$",
        "^hooks/(.*)$",
        "^web3/(.*)$",
        "^data/(.*)$",
        "^classes/(.*)$",
        "^components/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true
}
